body{
   font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
   font-weight: 400;
   line-height: 18px;
   font-size: 14px;
   background-color: #808080 ;
}*{
	margin: 0;
	padding: 0;
}

main{
	position: absolute;
	padding-top: 140px;
   margin: -4px;
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
}

article {
	background: #fcc;
	display: inline-block;
	width: 200px;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	margin: 4px;
	min-height: 160px;
}

.edit {
	white-space: pre-line;
	border: none;
	resize: none;
	background: transparent;
	display: block;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	cursor: inherit;
	font: inherit;
	min-height: 160px;
}

.edit:focus {
	cursor: text;
}

header, footer {
	position:absolute;
	background-color: #FFA500 ;
	width: 100%; 
}

header{
	padding-top: 20px;
	height: 90px;
}
header h1{
	padding-top: 40px;
	text-align: center ;
	text-transform: uppercase;
	color: #FFFFFF ;
}

footer {
   bottom:0;
   height:60px;
}






