import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Background.jpg);
  background-size: cover;
  /*place-items: center;
  background: #000; */
}


.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: #2;*/
    width: 100%;
    height: 100px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

a{
    margin: 15px;
    color: #1D8E6E;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #F0F1FC;
    
}

.text {
  font-size: 50px;
  font-weight: 800;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, #F0FBFB 30%, #18E9EC 25%, #f66e48 20%, #C7ED1E 55%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
  margin-top: 0px;
}

@keyframes animate {
  to {
    background-position: 400%;
  }
}

.main{
	position: absolute;
	padding-top: 140px;
  margin: 20%;
  display: flex;
  flex-flow: row;
}

#create{
  width: 180px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 0;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

#create:hover{
  text-transform: uppercase;
  color:#890A0A;
  transition-delay: 1s;
}



article {
	background: #fcc;
	display: inline-block;
	flex-direction: column;
	width: 200px;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	margin-top: 60%;
	min-height: 200px;
}

#notes{
  display: flex;
}

.title{
  height: 30px;
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  font-family: Poppins;
  padding: 5px;
  border: none;
}
.note{
  height: 200px;
  background: transparent;
  border: none;
  padding: 10px;
}

.close {
  padding: 1px 3px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  padding: 0px;
  margin: 0px;
  color: white;
  }










/*body{
   font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
   font-weight: 400;
   line-height: 18px;
   font-size: 14px;
   background-color: #808080 ;
}*{
	margin: 0;
	padding: 0;
}

main{
	position: absolute;
	padding-top: 140px;
   margin: -4px;
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
}

article {
	background: #fcc;
	display: inline-block;
	width: 200px;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	margin: 4px;
	min-height: 160px;
}

.edit {
	white-space: pre-line;
	border: none;
	resize: none;
	background: transparent;
	display: block;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	cursor: inherit;
	font: inherit;
	min-height: 160px;
}

.edit:focus {
	cursor: text;
}

header, footer {
	position:absolute;
	background-color: #FFA500 ;
	width: 100%; 
}

header{
	padding-top: 20px;
	height: 90px;
}
header h1{
	padding-top: 40px;
	text-align: center ;
	text-transform: uppercase;
	color: #FFFFFF ;
}

footer {
   bottom:0;
   height:60px;
}

.title{
	font-size: 140%;
	font-weight: bold;
	height: 30px;
	width: 70%;
	background: none;
	border: none;
	resize: none;
}
.note {
	white-space: pre-line;
	border: none;
	resize: none;
	background: transparent;
	display: block;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	cursor: inherit;
	font: inherit;
	min-height: 160px;
}

.note:focus {
	cursor: text;
}

.close{
	padding: 1px 3px;
	margin: 10px; 
	position: absolute; 
	top: 0; 
	right: 0;
	height: 24px;
	padding: 0px;
	margin: 0px;
	color: white;
}
*/




